p{
    font-weight: normal
}

a{
    text-decoration: none;
}

li{
    font-weight: normal;
}

.comments{
    list-style-type: none;
}

.dateDiff{
    display: inline;
    color: gray;
    font-size: 13px;
}

.commentDelete{
    font-size: 6px;
}